.ToDoListItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 4vmin;
    padding: 2vmin;
    border: 1vmin solid purple;
    list-style: none;
    font-size: 4vmin;
}
 
.ToDoListItem div {
    width: 6vmin;
    height: 6vmin;
    margin-right: 4vmin;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.flex-ctr-ctr {
    display: column;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}